/* src/App.css */
.App {
    font-family: Arial, sans-serif;
    color: rgb(0, 254, 246);
    text-align: center;
    margin-top: 50px;
   }
   
   
   .exchange-container {
    width: 100%;
    margin: auto;
    max-width: 600px;
    border: 2px solid #030bfb;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   
   
   
   .date-picker {
    margin: 16px 0;
    font-size: 16px;
   }
   
   
   .error {
    color: red;
   }
   
   
   .rates ul {
    list-style-type: none;
    padding: 0;
   }
   
   
   .rates li {
    margin: 8px 0;
    font-weight: bold;
   }
   
   
   .currency-select {
    margin: 15px 0;
   }
   
   
   .currency-select select {
    padding: 5px;
    font-size: 15px;
   }
   
   
   .chart-container {
    width: 80%;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

.About {
margin-top: 20px;
font-size: 16px;
text-align: center;
}

.About button {
padding: 10px 20px;
background-color: #030bfb;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

.About button:hover {
background-color: #001b9c;
}

.About a {
display: inline-block;
padding: 10px 20px;
background-color: #030bfb;
color: white;
border-radius: 5px;
text-decoration: none;
font-size: 16px;
transition: background-color 0.3s ease;
}

.About a:hover {
background-color: #001b9c;
}

/* สำหรับการแสดงรูปภาพ */
img {
display: block;
margin-top: 20px;
width: 100px;
height: auto;
}

